[*]
charset=utf-8
end_of_line=lf
indent_size=4
indent_style=space
insert_final_newline=true
trim_trailing_whitespace=true

[*.{yaml,nix}]
indent_size=2

[Makefile]
indent_style=tab

[{J,.J,j,.j}ustfile]
indent_style=2
