allow-missing-formatter = true

[global]
excludes = ["flake.lock", "*.sops.*", "justfile", ".editorconfig", ".gitignore"]

[formatter.nix]
command = "nixfmt"
includes = ["*.nix"]

[formatter.taplo]
command = "taplo"
includes = ["*toml"]
options = ["format"]

[formatter.yaml]
command = "yamlfmt"
includes = ["*.yaml", "*.yml"]
