@import "../themes/catppuccin.css";

@background = @base;
@border-color = @text;
@label = @text;
@image = @text;
@progress @accent;

window {
    border-radius: 0;
    opacity: 0.97;
    border: 2px solid @border-color;

    background-color: @background;
}

label {
    font-family: "0xProto Nerd Font Mono";
    font-size: 11pt;
    color: @label;
}

image {
    color: @image;
}

progressbar {
    border-radius: 0;
}

progress {
    background-color: @progress;
}
