* {
    min-height: 0;
    font-family: "0xProto Nerd Font";
    font-size: 14px;
}

window#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavendar;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#battery,
#backlight,
#clock,
#custom-screen-recording-indicator,
#network,
#tray,
#wireplumber {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#clock,
#custom-screen-recording-indicator {
    color: @lavender;
    border-radius: 1rem;
    margin-right: 1rem;
}

#custom-screen-recording-indicator.active {
    color: @red;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
}

#backlight,
#battery {
    border-radius: 0;
}

#network {
    color: @peach;
}

#wireplumber {
    color: @maroon;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
}

#tray {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
}

tooltip {
    padding: 2px;
}

tooltip label {
    padding: 2px;
}